<% if detail.description %>
<h1><%= detail.description.title%>, <%= detail.description.title_cn %></h1>
  <div style='width:320px; float:left;'>
    <%= image_tag detail.title_photo.pic.url(:small) if detail.title_photo %>
  </div>
<div style='margin-bottom:10px;'>
  <%= detail.description.cn %>
</div>
<div>
  <%= detail.description.en %>
</div>
<div class='clear'></div>
<% end %>

