<%= form_for( [:admin, @object], :remote => true) do |f| %>
  <div class='container'>
    <div class='span-8'>
      <%= render :partial => '/admin/shared/select_employee', :locals => {:f => f, :field_name => 'owner_id'} %>
      <%= f.hidden_field 'owner_type', :value => 'EmployeeInfo' %>
    </div>
  <div class="container">
  	<div class='span-8'>
	  <%= f.field_container :account_name do %>
	  	<%= f.label :account_name %><br />
	  	<%= f.text_field :account_name %>
    <% end %>
	  <%= f.field_container :account_brief do %>
	  	<%= f.label :account_brief %><br />
	  	<%= f.text_field :account_brief %>
    <% end %>
    <%= render :partial => 'admin/shared/status', :locals => {:f => f} %>
    <p>

      Owner Type: <%= @object.owner_type %><br />
      Owner ID:   <%= @object.owner_id %><br />
      Created at: <%= @object.created_at %><br />
      Updated at: <%= @object.updated_at %><br />
    </p>
	  </div>
	  <div class='span-8 last'>
    </div>   
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



