<% 
  pay_cash = PayCash.new
%>
<%= form_for( [:admin, pay_cash], :remote => true) do |f| %>
  <%= hidden_field_tag :order_id, params[:order_id] %>
  <table class='compact'>
    <tr>
      <td>Pay:</td>
      <td><input type='text' id='recv_cash' value='0.00' class='large-amount' /></td>
      <td>Change:
        <label id='pay_cash_change' class='pay-amount'>0.00</label>
        <%= f.hidden_field :amount %>
      </td>
    </tr>
    <tr>
      <td>Cash received by:</td>
      <td><%= f.select(:account_id, Account.where(:status => 1).where(:owner_type => 'EmployeeInfo').collect{|d| [d.account_name, d.id]}, {:include_blank => true }) %>  	
      </td>
      <td></td>
    </tr>
  </table>
  <p>
    <%= f.submit %>
  </p>
<% end %>

